.hero-total {
    display:flex;
    height: 100px;
    width:200px;  
    align-items: center;
    justify-content: space-around;

    &>div{
        height:100%;
    }

    margin:10px 0;
}

.legend {
    width: 15px;
}

.legendBottom {
    p {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $clr-white;
        font-weight: $fw-bold;
        font-size: 20px;
        height: 50px;
        width: 50px;
    }
}

.today-total {
    display: inline-block;
    margin: 15px;
}