.questions-page {
	background-color: $clr-black;
	text-align: center;
	color: $clr-white;
	min-height: 100vh;

	span {
		margin-bottom: 15px;
	}

	img {
		width: 30%;
		margin: 0 auto;
	}

	h2 {
		font-size: $fs-650;
		text-transform: uppercase;
		position: relative;
		padding-bottom: 50px;

		&:after {
			content: "";
			display: block;
			margin: 0 auto;
			width: 80%;
			height: 2px;
			background-color: $clr-white;
			position: absolute;
			left: 0;
			right: 0;
			bottom: 10px;
		}
	}

	p {
		font-family: $ff-secondary;
		font-size: $fs-500;
		line-height: $lh-100;
		max-width: 960px;
		margin: 33px auto;
		hyphens: auto;
	}

	nav {
		text-align: left;
		padding-top: 20px;
		position: relative;
		left: 24px;

		a {
			font-size: $fs-600;
			color: $clr-white;
			&:hover,
			&:focus {
				color: $clr-teal;
			}
		}
	}

	h3 {
		font-size: $fs-550;
	}

	ul {
		font-family: $ff-secondary;
		max-width: 620px;
		margin: 33px auto 43px auto;

		li {
			font-family: $ff-secondary;
			font-size: $fs-500;
			line-height: $lh-100;
			margin: 0 0 33px 0;
			hyphens: auto;
		}
	}
}
