.legendBottom {
    p {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $clr-white;
        font-weight: $fw-bold;
        font-size: 20px;
        height: 50px;
        width: 50px;
    }
}

.today-total {
    display: inline-block;
    margin: 10px;
}

.todays-display {
    h2 {
        background-color: $clr-black;
        color: $clr-white;
        text-align: center;
        padding: 30px;
        font-weight: normal;
    }

    ul {
        text-align: center;
    }
}
