// colors
$clr-black: #000000;
$clr-white: #ffffff;
$clr-purple: #45009f;
$clr-blue: #008bb4;
$clr-teal: #00a9ae;
$clr-dark-purple: #22014D;
$clr-light-grey:#f4f4f4;

// font family
$ff-primary: "Maitree", serif;
$ff-secondary: "Montserrat", sans-serif;

// font weight
$fw-regular: 400;
$fw-bold: 700;

// font size (px)
$fs-800: 130px;
$fs-775: 110px;
$fs-750: 90px;
$fs-725: 70px;
$fs-700: 52px;
$fs-675: 46px;
$fs-650: 40px;
$fs-600: 36px;
$fs-550: 30px;
$fs-500: 26px;
$fs-400: 22px;
$fs-300: 20px;
$fs-200: 18px;
$fs-100: 16px;

// line height
$lh-200: 120px;
$lh-100: 32px;

// letter spacing
$ls-100: 1;

// paragraph spacing
$gap: 13px;

// border
$border-radius: 20px;

// box shadow
$box-shadow: 4px 4px 0 $clr-black;

// mobile wrapper width:
$mobile-width: 90%;
